
QWidget#widgetView,QWidget#widgetBotton,QWidget#testBottomWidget{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #667481,stop:1 #566373);
}

QWidget#widgetTile,QWidget#widgetRight{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QWidget#widgetMainUiFile{
background-color:RGB(125,125,125);
}

QWidget#widgetMainUiCoord{
background-color:RGB(236,0,236);
}

QWidget#widgetMainUiGas,QWidget#widgetMainUiInstruct,QWidget#widgetMainUiAssist{
background-color:RGB(125,0,125);
}

QLabel#label_logo{
border-image:url(<CURRENT>/skin/image/logo.png);
}

QPushButton#pBnMax{
border-image:url(<CURRENT>/skin/icons/github.png);
}

QPushButton#pBnRestore{
border-image:url(<CURRENT>/skin/icons/twitter.png);
}

QPushButton#pBnClose{
border-image:url(<CURRENT>/skin/icons/google.png);
}

QWidget#pluginRightView,QWidget#pluginBottomWidget
{
background-color:RGB(125,125,125);
}

QWidget#pluginViewWidget
{
background-color:RGB(200,191,231);
}

QPushButton#function{
background-color:RGB(125,125,125);
}

QLabel#labelTile,QLabel#labelStateInfo{
background-color:RGB(255,255,255);
}

.QPushButton{
border-style:none;
border:0.2px solid #B4C2D7;
color:#1C475A;
padding:5px;
min-height:20px;
border-radius:5px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #1C475A,stop:1 #1C475A);
}

.QPushButton:hover{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF
3);
}

.QPushButton:pressed{
color:#1C475A;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

.QPushButton:disabled{
color:#838383;
background:#F4F4F4;
}

QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit,QSpinBox{
border-radius:3px;
padding:3px 5px 3px 5px;
border:1px solid #B4C2D7;
background:none;
selection-background-color:#C0D3EB;
selection-color:#324C6C;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:1px;
border-left-style:solid;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-left-color:#B4C2D7;
}

QComboBox::down-arrow,QDateEdit::down-arrow,QTimeEdit::down-arrow,QDateTimeEdit::down-arrow{
image:url(:/image/add_bottom.png);
}

QTableView::item:selected,QListView::item:selected,QTreeView::item:selected{
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QTableView::item:hover,QListView::item:hover,QTreeView::item:hover{
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTableView::item,QListView::item,QTreeView::item{
padding:5px;
margin:0px;
}

QHeaderView::section,QTableCornerButton:section{
padding:3px;
margin:0px;
color:#324C6C;
border:1px solid #B4C2D7;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTabBar::tab{
border-radius:5px;
border:1px solid #B4C2D7;
color:#324C6C;
min-width:55px;
min-height:20px;
padding:3px 8px 3px 8px;
margin:1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTabBar::tab:selected,QTabBar::tab:hover{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

